button {
    border-radius: 2px;
    padding: 5px 25px;
}
/*---------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-Default {
    background-color: #22262A;
    color: white;
    transition: backround-color linear 2s;
}
.button-Default:hover {
    background-color: rgb(0, 0, 0);
    color:white;
}
.button-border-Default {
    background-color: white;
    color: #22262A;
    border: 2px #22262A solid;
}
.button-pale-Default {
    color:#22262A;
    background-color: rgba(34, 38, 42, 0.426);
}
/*-----------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-warning {
    background-color: #FFC600;
    color: white;
    transition: backround-color linear 2s;
}
.button-warning:hover {
    background-color: rgb(186, 143, 3);
    color:white;
}
.button-border-warning {
    background-color: white;
    color: #FFC600;
    border: 2px #FFC600 solid;

}
.button-pale-warning {
    color:#FFC600;
    background-color: rgba(255, 200, 0, 0.399);
}
/*-----------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-Danger {
    background-color:#FF4858;
    color: white;
    transition: backround-color linear 2s;
}
.button-Danger:hover {
    background-color:#DB3140;
    color:white;
}
.button-border-Danger {
    background-color: white;
    color: #FF4858;
    border: 2px #FF4858 solid;
}
.button-pale-Danger {
    color:#FF4858;
    background-color: rgba(255, 72, 87, 0.454);
}
/*-----------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-primary {
    background-color:#33A0FF;
    color: white;
    transition: backround-color linear 2s;
}
.button-primary:hover {
    background-color: rgb(4, 125, 232);
    color:white;
}
.button-border-primary {
    background-color: white;
    color: #33A0FF;
    border: 2px #33A0FF solid;

}
.button-pale-primary {
    color:#33A0FF;
    background-color: rgba(51, 160, 255, 0.385);
}
/*-----------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-success {
    background-color:#0AD00A;
    color: white;
    transition: backround-color linear 2s;
}
.button-success:hover {
    background-color:rgb(6, 152, 6);
    color:white;
}
.button-border-success {
    background-color: white;
    color: #0AD00A;
    border: 2px  #0AD00A solid;

}
.button-pale-success {
    color:#0AD00A;
    background-color: rgba(7, 193, 7, 0.196);
}  
/*Cart button */
.button-cart{
    background-color: rgba(50,160,255,0.2);
    color: #33A0FF;
    /*background-image: url('./img/cart_1.svg');*/
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.button-cart-small{
    background-color: rgba(51,160,255,0.2);
    padding:18px;
    /*background-image: url('./img/cart_1.svg');*/
    background-size: 2;
    background-repeat: no-repeat;
    background-position: center;
}

.button-favorite{
    background-color: rgba(51,160,255,0.2);
    color: #33A0FF;
    /*background-image: url('img/hearts_2.svg');*/
    background-size: 2;
    background-repeat: no-repeat;
    background-position: 5px;
}

.button-favorite-small{
    background-color: rgba(51,160,255,0.2);
    color: #33A0FF;
    /*background-image: url('img/hearts_2.svg');*/
    background-size: 20px;
    padding: 18px;
    background-repeat: no-repeat;
    background-position: center;
    
}
