button {
    border-radius: 2px;
    padding: 5px 25px;
}


.button-large {
    padding: 10px 50px;
}
.button-Danger {
    background-color:#FF4858;
    color: white;
    transition: backround-color linear 2s;
    
}
.button-Danger:hover {
    background-color:#FF4858;
    color:white;
}
.button-border-Danger {
    background-color: white;
    color: #FF4858;
    border: 2px #FF4858 solid;

}
.button-pale-Danger {
    color:#FF4858;
background-color: rgba(255, 72, 87, 0.454);
}

/*-----------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-primary {
    background-color:#33A0FF;
    color: white;
    transition: backround-color linear 2s;
    
}
.button-primary:hover {
    background-color: #2E90E5;
    color:white;
}
.button-border-primary {
    background-color: white;
    color: #33A0FF;
    border: 2px #33A0FF solid;

}
.button-pale-primary {
    color:#33A0FF;
background-color: rgba(51, 160, 255, 0.385);
}
/*-----------------------------------------------------*/
.button-large {
    padding: 10px 50px;
}
.button-success {
    background-color:#0AD00A;
    color: white;
    transition: backround-color linear 2s;
    
}
.button-success:hover {
    background-color: #07C107;
    color:white;
}
.button-border-success {
    background-color: white;
    color: #0AD00A;
    border: 2px  #0AD00A solid;

}
.button-pale-success{
    color:#0AD00A;
background-color: rgba(7, 193, 7, 0.197);
}