.mediumDiv {
    width: 300px;
    height: 46px;
    display: flex;
    flex-direction: row;
  }
  
  .inputButton {
    color: white;
    background-color: #33a0ff;
    height: 46px;
    text-align: center;
    padding: 0 25px;
    z-index: 1;
    margin-top: 10px;
    position: relative;
    right: 70px;
  }
  
  .largeDiv {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 369px;
  }
  
  .bigButton {
    height: 60px;
  }