.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid #33A0FF;
  font-family: Arial;
  font-size: 16px;
  display: flex;
}
.checkbox-button {
  width: 16px;
  height: 16px;
  margin: 10px;
}
.img{
    width: 100%;
    height: 100%;
}

